[run]
parallel = True

[report]
include = piaplib*
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    except Exception
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    raise ImportError

    # Don't complain if non-runnable code isn't run:
	if __name__ in u'__main__':

ignore_errors = True

