[submodule "PiAP-python-tools"]
	path = units/PiAP-python-tools
	url = ../PiAP-python-tools.git
	branch = .
[submodule "PiAP-Webroot"]
	path = units/PiAP-Webroot
	url = ../PiAP-Webroot.git
	branch = .
[submodule "PiAP-Firewall"]
	path = units/PiAP-Firewall
	url = ../PiAP-Firewall.git
	branch = .